PORT=5000
MONGO_URI=mongodb+srv://tmrizviahmed_db_user:1PtzCzNZpTHknkjo@rizvi.ai4ywud.mongodb.net/codveda_level2?appName=Rizvi

JWT_SECRET=replace_this_with_a_long_random_string
JWT_EXPIRES_IN=7d
NODE_ENV=production
